table{
  font-size: 13px;
  color: #333;
  margin-bottom: 80px;
}

table th:nth-child(6n+1){
  width: 200px;
}

table th:nth-child(6n+2){
  width: 400px;
}

tbody th{
  color: #333;
}

th{
  padding-bottom: 10px;
}
.error-message{
  color:#ff0000;
}
